@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700');

html, body{ 
    font-family:"Montserrat";
    margin:0;
    height:100%;
    background-color:#3A3A3A;
    .container {
        padding:0;
        width:auto;
    }
    color:#fff;

}

.navbar-nav {
    & > li {
        margin-left:93px;
    }
    & > .active {
        padding-top:8px;
    }
    & > :first-child {
        margin-left:96px;
    }
    & > li > a{
        color:#525252;
        line-height:20px;
        font-size: 12px;
    }
}

#navbar {
    display:none;
    height: 50px;
    min-height:0;

}

.navbar-default .navbar-collapse{
    background-color:#fff;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color:#fff;
	font-size:12px;
	padding:7px 15px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#737373;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.row {
    margin:0;
}

.main-btn {
    border: #fff solid 2px;
    width: 160px;
    height: 65px;
    border-radius: 2px;
    background:transparent;
    transition: all .3s ease;
}

.main-btn:hover {
    background-color: #22787B;
    border-color: #22787B;
}

section {
    min-height:100%;
    width:100%;
    overflow:hidden;
    border-bottom: 2px #313131 solid;
}

h1 {
    font-size:42px;
    font-weight: 100;
    margin-bottom:20px;
    font-family: "Open Sans";
}

h2 {
    font-family:"Montserrat";
    font-size:21px;
    font-weight:300;
    color: #fff;
}

h3 {
    font-family:"Open Sans";
    font-size:14px;
    font-weight:100;
    color: #fff;
    margin-bottom:20px;
    margin-top:0;
}


p {
    font-weight:200;
    font-family: "Open Sans";
}

a {
    color: #fff;
    cursor: pointer;
}

a:hover{
    color: #fff;
}

button:focus {outline:0;}

::selection {
  background: #717171; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #717171; /* Gecko Browsers */
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#Home {
    background-color:#444;
    .logo {
        min-width: 668px;
        top:50%;
    }
    .home-btns{
        margin-top:47px;
        //margin-left:20px;
    }
    .right-box{
        position:absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        margin-right:0px;
    }
    .main-btn {
        margin-right: 17px;
        border-color: #cdcdcd;
        color: #cdcdcd;
    }
    .main-btn:hover {
        border-color: #fff;
        background-color: #fff;
        color: #969696;
    }
    @media (max-width: 991px) {
        .logo {
            min-width: 355px;
        }
    }

}

#About {
    .about-box{
        font-family:"Open Sans";
       /* height:450px;
        width:652px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);*/
        //padding:50px 80px 80px 80px;
        line-height:44px;
        font-weight:200;
        margin-left:10%;
    }
    .about-box-parent {
        position:relative;

    }
    .video-box-container {
        background-color:#1D2430;
        height:410px;
        width:310px;
        right:0;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .video-container {
        position:absolute;
        height:315px;
        width:560px;
        background-color:black;
        margin-top:35px; // (410 - 340) / 2
        right:0;
        box-shadow: 4px 1px 10px 2px rgba(0,0,0,0.3);
        overflow:hidden;
        margin-right:30px;
    }

    iframe {
        width: 560px;
        height: 315px;
    }

    @media (max-width: 991px) {
        .video-box-container {
          right:auto;
          padding:0;
          position:static;
          width:100%;
          transform: none;
          background-color: transparent;
          height: 270px;
        }
        .video-container {
            margin-right:auto;
            margin-left:auto;
            position:static;
            top: 47px;
            position: relative;
            height: 157.5px;
            width: 280px;
        }
        iframe {
            height: 157.5px;
            width: 280px;
        }
    }
}

#Apply {
    .mentor-box {
        //width:510px;
        min-height:400px;
        background-color: #22787B;
        /*right:0;
        position:absolute;
        top:50%;
        transform: translateY(-50%);*/
        padding:60px 70px 60px 70px;
        line-height:44px;
        font-weight:200;
        right:-18%;
    }
    .text-box {
        /*width:40%;*/
        /*position: absolute;
        top:50%;
        transform: translateY(-50%);*/
    }
    .text-box-parent {
        //padding:40px;
        padding-left:10%;
        line-height:4;
        //position:relative;
    }
    a {
        text-decoration: underline;
    }


    /* Media Queries */

    @media (max-width: 991px) {
        .mentor-box {
          right:auto;
        }
    }
}

#Sponsor {
    .sp-box {
        min-width:510px;
        min-height:430px;
        background-color: #1D2430;
        padding:50px 70px 70px 70px;
        line-height:44px;
        font-weight:200;
        background-image: url("../img/sponsors.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto auto;
    }

    .sp-container {
        /*width:510px;
        height:450px;*/
        right:-14%;
        /*transform: translateY(-50%);
        position:absolute;
        top:50%;
        right:0;*/

        text-align: center;
    }
    .text-box {
        /*width:40%;
        position: absolute;
        top:50%;
        transform: translateY(-50%);*/
    }
    .text-box-parent {
        //padding:40px;
        padding-left:10%;
        line-height:4;
        //position:relative;
    }

    .main-btn{
        width: 195px;
    }
    .main-btn:hover {
        background-color:#1D2430;
        border-color:#1D2430;
    }

    /* Media Queries */

    @media (max-width: 991px) {
        .sp-container {
          right:auto;
          padding:0;
        }
    }
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    height:40px;
    line-height: 40px;
    background-color:#3A3A3A;
    color: #C5C5C5;
    font-weight: 200;
    font-size:13px;
    border-top: 1px #313131 solid;
}

// Media queries



@media (max-width: 991px) {
    h1 {
        margin-bottom: 10px;
        margin-top: 45px;
        font-size: 31px;
    }
    h3 {
        display: none;
    }
    p {
        line-height: 2.5;
        font-size:13px;
    }
    .main-btn {
        width: 98px;
        height: 50px;
        line-height: 0px;
        border-radius: 3px;
    }
    .sp-box {
        margin-top: 10px;
    }

}

@media (max-width: 991px) {
    .sp-container {
        display: none;
    }

    .footer {
        font-size: 9px;
    }
}